body {
    padding: 3%;
}

header {
    display: flex;
    font-size:x-large;
    margin-bottom: 1%;
}

div#hi-title {
    color: #58af9c;
}

div#map {
    height: 100%;
    width: 64%;
    border-radius: 0px 10px 10px 0px;
}

div#register {
    height: 100%;
    width: 30%;
    border-radius:10px 0px 0px 10px;
}

div#register-content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

div#changes {
    display: None;
    color: yellow;
    justify-content: end;
    font-weight: bolder;
}

div#down-buttons {
    display: flex;
}

.down-buttons {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
}

div#right-button {
    display: flex;
    justify-content: end;
}


input#delete-btn {
    background-color: red;
}

