div#container {
    justify-content: center;
    align-items: center;
}

div#map {
    height: 100%;
    width: 30%;
    border-radius:10px 0px 0px 10px;
}

div#register {
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    width: 40%;
}

div#register-content {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}

div#orientation {
    font-size: smaller;
    margin-bottom: 8%;
    color: #58af9c;
    font-weight:lighter;
}

div#div-explorer-btn {
    display: flex;
    justify-content: end;
}

input#explorer-btn {
    margin-right: 5%;
    width: 15%;
    padding: 5px;
}

div#attention {
    color: red;
    display: None;
    justify-content: center;
}